{% extends './base.html' %}

{% block titulo %}Cursos{% endblock titulo %}
{% block contenidoRegiones %}
<section class="portadaQuebrada">
        
    <div class="contenedor-portada" >
        <h2><b>CARNAVAL</b></h2>
        <p><b> Tradición en la Quebrada de Humahuaca</b></p>
    </div>

</section>
{% endblock contenidoRegiones %}

{% block contenido %}

<section class="container jujuy">
    <h2 class="h-titulo">QUEBRADA</h2>
    <p>"Un itinerario cultural de 10.000 años, tierra rica en historia y 
        tradiciones, muchas de las cuales se remontan a los tiempos precolombinos."</p>
</section>
<div class="regiones">
    <article class="articulo">
        <p>   La Quebrada de Humahuaca, un extenso valle montañoso de perfil asimétrico 
            de 155 kilómetros de longitud que corre en dirección Norte-Sur, está ubicado 
            en el extremo Noroeste de la República Argentina, en la región Norte Argentino. 
            Constituye un sistema patrimonial de características excepcionales.
        </p>
        <p>
            A lo largo de 10.000 años, este valle andino ha sido el escenario de gran parte 
            de los desarrollos culturales de la región y de los países vecinos de la 
            América del Sur, en un recorrido ininterrumpido que abarca desde la instalación 
            de los primeros pueblos cazadores, hace unos diez milenios, hasta la actualidad.
        </p>
        <p>
            Todos estos elementos permiten otorgar a este contexto un fuerte significado 
            para una lectura plural de la historia y de la cultura universal. 
            En el año 2003 la Quebrada de Humahuaca fue declarada por la UNESCO 
            Patrimonio de la Humanidad en la categoría Paisaje Cultural.

        </p>

    </article>
    <div id="fotos2">

    </div>
    


{% endblock contenido %}

{% block javascript %}
{% load static %}
<script src="{% static 'cac/publica/js/galeria.js'%}"></script>
<script src="{% static 'cac/publica/js/proyectosQuebrada.js'%}"></script>

{% endblock %}