<footer id="footer">


    <div class="container piePagina">
        <h3>CONOCIENDO JUJUY</h3>
        <p>Un proyecto personal dedicado a 
            la provincia de Jujuy, Argentina</p>
        <ul class="pie-sociales">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
        <div class="pie-copyright">
            <p><a href="#">© 2022 Copyright, </a>  todos los derechos reservados </p>
        </div>
    </div>
</footer>